<!DOCTYPE html>
<html lang="en">

<head>
    <title>main page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
</head>

<body>

    <main>
        <div id="play-content">
            <div id="vid-player"></div>
            <div id="songlist-controls">
                <input type="text" id="filter-songs" placeholder="Search...">
                <i id="play" class="fas fa-angle-double-right icon-button fa-2x" title="Play all songs">
                </i>

                <i id="record-song" class="fas fa-plus-square fa-2x icon-button" title="Add new song to your Songlist">
                </i>
            </div>

            <div id="songs"></div>

            <div id="playlist"></div>
        </div>

        <div id="playlist-hub">
            <div>
                <div id="playlist-hub-controls">
                    <input type="text" placeholder="Enter playlist name" id="playlist-name" />
                    <i class="fas fa-check-circle fa-2x icon-button" id="record-playlist" title="Save current playlist">
                    </i><i class="fas fa-ban fa-2x icon-button" id="clear-playlist" title="Clear current playlist">
                    </i>
                </div>
            </div>
            <div id="playlist-content">
                <div id="playlists"></div>
            </div>
        </div>
    </main>

    <script src="http://www.youtube.com/player_api"></script>
    <script src="{{url_for('static', filename='mainbundle.js')}}"></script>
</body>

</html>